h1 {
    color: teal;
    font-size: medium;
    text-align: center;
}
p {
    color: pink;
    font-size: 18px;
}
body {
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
.family {
    background-color: purple;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    list-style: none;
}
a {
    color: blue;
    text-decoration: none;
}